
* {
    margin: 0;
    padding: 0;
}

body {
    background: #FFFFFA;
}

header {
    width: 100%;
    z-index: 1;
}

header nav {
    width: 90%;
    max-width:  1000px;
    margin: 20px auto;
    background: #000;
    
}

.menu_bar {
    display: none;
}

header nav ul {
	overflow:hidden;
	list-style:none;
}

header nav ul li {
	float:left;
}

header nav ul li a {
	color:#fff;
	padding:20px;
	display:block;
	text-decoration:none;
}

header nav ul li span {
    margin: 5px;
}

header nav ul li a:hover {
    background: rgb(54, 54, 54);
}

.productos{
    display: grid;
    gap:20px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-flow:  row dense;
}

.productos > div {
    display:block;
    padding: 5px 10px;
    box-shadow: 2px 2px 10px rgba(0,0,0, .25);
}

.imagen_container {
    width: 90%;
    height: auto;
    max-height: 150px;
    overflow: hidden;
}

.caption {
    padding-top: 10px;
    gap: 10px;
}

.pull-right{
    float: right;
}


.search-product-image{
    /* box-shadow: 0 2px 6px 0 rgba(0,0,0,0); */
    background-color: var(--color0);
    max-height: 240px;
    text-align: center;
    overflow-y: hidden;
    width:100%;
    height:240px;
    -webkit-transition: .1s ease-in-out;
    -moz-transition: .1s ease-in-out;
    -o-transition: .1s ease-in-out;
    transition: .1s ease-in-out;
    box-shadow: 0 1px 1px 0
    rgba(0,0,0,0.1);
    border-radius: 1px;
    display: flex;
    padding: 15px;
}

.search-product-image img{
    max-width: 200px;
    max-height: 200px;
    height: auto;
    width: auto;
    display: flex;
    margin: auto auto;
    align-self: center;
    justify-content: center;
    align-content: center;

}

.cantidad-producto {
    margin: 0 10px;
    width: 50px;
}


.producto_imagen {
    height: 200px;
    margin: 0px auto;
    display: block;
}

.pagar{
    display: grid;
    gap:20px;
    grid-template-columns: 1fr;
    float:none;
    margin: 10px;
}

.pagar div button span {
    margin: 5px;
}

.producto-no-disponible{
    color:#c50000 ;
}

.producto-disponible{
    color:#00ad00 ;
}

@media screen and (max-width:800px){
    header nav {
        z-index: 1;
		width:80%;
		height:100%;
		left:-100%;
		margin:0;
		position: fixed;
	}

	header nav ul li {
		display:block;
		float:none;
		border-bottom:1px solid rgba(255,255,255, .3);
	}

	.menu_bar {
		display:block;
		width:100%;
		background:#ccc;
	}

	.menu_bar .bt-menu {
		display:block;
		padding:20px;
		background:#024959;
		color:#fff;
		text-decoration:none;
		//font-weight: bold;
		font-size:25px;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		box-sizing:border-box;
	}

    .productos{
        display: grid;
        gap:20px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 200px;
    
        grid-auto-flow:  row dense;
    }
}